<div class="main-content">
    <div></div>

    <mat-card *ngFor="let user of users">
        <mat-card-content>
            <div>
                {{ user.username }} - {{ user.firstName }} {{ user.lastName }}
                <div fxFlex></div>
                <a
                    mat-raised-button
                    color="accent"
                    href="/user/view?id={{ user.id }}"
                    >View</a
                >
            </div>
        </mat-card-content>
    </mat-card>
</div>
