<!-- Classes main-div and example-card are catagorized in .css file -->
<div class="main-div">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field
                                appearance="outline"
                                color="primary"
                                class="example-card"
                            >
                                <mat-label>Username</mat-label>
                                <input
                                    matInput
                                    required
                                    formControlName="username"
                                />
                                <mat-error
                                    *ngIf="
                                        loginForm.controls.username.touched &&
                                        loginForm.controls.username.invalid
                                    "
                                >
                                    <span
                                        >Username is
                                        <strong>required</strong></span
                                    >
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field
                                appearance="outline"
                                color="primary"
                                class="example-card"
                            >
                                <mat-label>Password</mat-label>
                                <input
                                    type="password"
                                    matInput
                                    required
                                    formControlName="password"
                                />
                                <mat-error>
                                    Password is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <br />
                <a mat-button href="/auth/forgotpassword">Forgot password</a>
            </mat-card-content>
            <mat-card-actions>
                <button
                    type="submit"
                    [disabled]="!loginForm.valid"
                    mat-raised-button
                    color="primary"
                >
                    Login
                </button>
                <a
                    mat-raised-button
                    color="accent"
                    style="float: right;"
                    href="/auth/register"
                >
                    Register
                </a>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
