<div class="auth-standard-container">
    <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="auth-standard-item"
    >
        <mat-card>
            <mat-card-header>
                <mat-card-title>KlofBook Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field
                    appearance="outline"
                    color="primary"
                    class="standard-input"
                >
                    <mat-label>Username</mat-label>
                    <input matInput required formControlName="username" />
                    <mat-error
                        *ngIf="
                            loginForm.controls.username.touched &&
                            loginForm.controls.username.invalid
                        "
                    >
                        <span>Username is <strong>required</strong></span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field
                    appearance="outline"
                    color="primary"
                    class="standard-input"
                >
                    <mat-label>Password</mat-label>
                    <input
                        type="password"
                        matInput
                        required
                        formControlName="password"
                    />
                    <mat-error>
                        Password is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br />
                <a mat-button href="/auth/forgotpassword">Forgot password</a>
            </mat-card-content>
            <mat-card-actions>
                <button
                    type="submit"
                    [disabled]="!loginForm.valid || processingForm"
                    mat-raised-button
                    color="primary"
                    [class.spinner]="processingForm"
                >
                    Login
                </button>

                <a mat-raised-button color="accent" href="/auth/register">
                    Register
                </a>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
