<div class="item-600 horizontal-container post-content">
    <div>({{ post.id }}) {{ post.body }}</div>
    <div>
        <a [matMenuTriggerFor]="menu" *ngIf="showDeleteButton()">
            <mat-icon class="material-icons" style="cursor: pointer;"
                >more_vert</mat-icon
            >
        </a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openPostDialogEdit(post)">
                <span>Edit</span>
            </button>
            <button mat-menu-item (click)="openPostDialogDelete(post.id)">
                <span>Delete</span>
            </button>
        </mat-menu>
    </div>
</div>

<mat-divider class="item-600"></mat-divider>

<div class="item-600 horizontal-container">
    <div>
        <button
            type="button"
            mat-raised-button
            (click)="toggleLike(post.id)"
            [disabled]="disabled"
            [class.spinner]="disabled"
            style="width: 150px;"
        >
            {{ likeButtonName }}
        </button>
    </div>
    <div style="width: 150px;">Likes: {{ this.post.likes.likesCount }}</div>
</div>

<mat-divider class="item-600"></mat-divider>

<div class="item-600">
    Comments
</div>

<div class="item-600 vertical-container">
    <div
        class="item-600 comment-style horizontal-container"
        *ngFor="let comment of post.comments"
    >
        <div>
            <span style="font-weight: bold; color: darkred;"
                >{{ comment.commentedByName }}
            </span>
            <span>{{ comment.content }}</span>
        </div>
        <div>
            <a
                [matMenuTriggerFor]="menu"
                *ngIf="showCommentMenuButton(comment)"
            >
                <mat-icon class="material-icons" style="cursor: pointer;"
                    >more_horiz</mat-icon
                >
            </a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openCommentDialogEdit(comment)">
                    <span>Edit</span>
                </button>
                <button
                    mat-menu-item
                    (click)="
                        openCommentDialogDelete(
                            (CommentToDelete = {
                                commentId: comment.id,
                                postId: post.id
                            })
                        )
                    "
                >
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>

<div class="item-600">
    <form [formGroup]="newCommentForm" (keydown)="createComment($event)">
        <mat-form-field
            appearance="outline"
            color="primary"
            class="standard-input"
        >
            <input
                matInput
                formControlName="newComment"
                maxlength="255"
                cdkTextareaAutosize
                placeholder="write comment..."
            />
        </mat-form-field>
    </form>
</div>
