<mat-card class="mat-card">
    <mat-card-content>
        <div>
            <div>{{ post.body }}</div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent">Comment</button>
        <button
            type="button"
            mat-raised-button
            color="{{ likeButtonColor }}"
            (click)="toggleLike(post.id)"
            [disabled]="processingLike"
            [class.spinner]="processingLike"
        >
            {{ likeButtonName }}
        </button>
        Likes: {{ this.likes?.length }}
    </mat-card-actions>
</mat-card>
