<mat-card class="mat-card">
    <mat-card-content>
        <div>
            <div class="post-content">({{ post.id }}) {{ post.body }}</div>
        </div>

        <div class="post-comments-divider">
            <mat-divider></mat-divider>
        </div>

        <div *ngFor="let comment of post.comments" class="comment-view">
            <span class="comment-view-commenter-name">{{
                comment.commentedByName
            }}</span>
            <span class="comment-view-content">{{ comment.content }}</span>
        </div>

        <form [formGroup]="newCommentForm" (keydown)="createComment($event)">
            <mat-form-field
                appearance="outline"
                color="primary"
                class="comment-input"
            >
                <input
                    matInput
                    formControlName="newComment"
                    maxlength="255"
                    cdkTextareaAutosize
                    placeholder="write comment..."
                />
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button
            type="button"
            mat-raised-button
            color="{{ likeButtonColor }}"
            (click)="toggleLike(post.id)"
            [disabled]="disabled"
            [class.spinner]="disabled"
        >
            {{ likeButtonName }}
        </button>

        <span> Likes: {{ this.post.likes.likesCount }} </span>

        <div fxFlex></div>

        <button
            mat-raised-button
            (click)="deletePost(post.id)"
            *ngIf="showDeleteButton()"
            [disabled]="disabled"
            [class.spinner]="disabled"
        >
            Delete
        </button>
    </mat-card-actions>
</mat-card>
