<h2 mat-dialog-title>Edit {{ data.title }}</h2>
<mat-dialog-content [formGroup]="editForm">
    <mat-form-field appearance="outline" color="primary" class="standard-input">
        <input
            matInput
            formControlName="editValue"
            maxlength="255"
            cdkTextareaAutosize
        />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="submit()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>
