<!-- <h2 mat-dialog-title>Install Angular</h2>
<form [formGroup]="editForm" (submit)="submitEdit()">
    <mat-dialog-content>
        <mat-form-field
            appearance="outline"
            color="primary"
            class="comment-input"
        >
            <input
                matInput
                formControlName="editValue"
                maxlength="255"
                cdkTextareaAutosize
            />
        </mat-form-field>
        <input type="hidden" formControlName="editId" maxlength="255" />
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button>
            Submit
        </button>
    </mat-dialog-actions>
</form> -->

<h2 mat-dialog-title>Edit {{ data.title }}</h2>
<mat-dialog-content [formGroup]="editForm">
    <mat-form-field
        appearance="outline"
        color="primary"
        class="comment-input-dialog"
    >
        <input
            matInput
            formControlName="editValue"
            maxlength="255"
            cdkTextareaAutosize
        />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="submit()" cdkFocusInitial>
        Submit
    </button>
</mat-dialog-actions>
