<!-- https://tburleson-layouts-demos.firebaseapp.com/#/docs -->
<!-- https://tobiasahlin.com/blog/common-flexbox-patterns/ -->
<!-- https://material.angularjs.org/1.1.2/layout/container -->
<!-- https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->
<!-- https://www.w3schools.com/css/css3_flexbox.asp -->

<!-- mat-card action buttons align -->
<!-- https://github.com/angular/components/issues/5116 -->
<div fxLayout="column" fxLayoutAlign=" center">
    <div style="background-color: red; width: 350px; height: 100px;">1</div>
    <div style="background-color: blue; width: 200px; height: 100px;">2</div>
    <div style="background-color: green; width: 300px; height: 100px;">3</div>
    <div style="background-color: yellow; width: 250px; height: 100px;">4</div>
    <div style="background-color: brown; width: 400px; height: 100px;">5</div>
</div>
