<h1>Angular 8 Multiple Image Upload with Preview - ItSolutionStuff.com</h1>

<form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input
            formControlName="name"
            id="name"
            type="text"
            class="form-control"
        />
        <div
            *ngIf="f.name.touched && f.name.invalid"
            class="alert alert-danger"
        >
            <div *ngIf="f.name.errors.required">Name is required.</div>
            <div *ngIf="f.name.errors.minlength">
                Name should be 3 character.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="file">File</label>
        <input
            formControlName="file"
            id="file"
            type="file"
            class="form-control"
            multiple=""
            (change)="onFileChange($event)"
        />
        <div
            *ngIf="f.file.touched && f.file.invalid"
            class="alert alert-danger"
        >
            <div *ngIf="f.file.errors.required">File is required.</div>
        </div>
    </div>

    <div style="display: flex; flex-flow: row">
        <div *ngFor="let url of images; index as i" (click)="removeImage(i)">
            <img [src]="url" height="100px" width="100px" style="margin: 3px" />
            <br />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
