<!-- Classes main-div and example-card are catagorized in .css file -->

<div fxLayout="column" fxLayoutAlign=" center">
    <div class="main-content">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Profile</mat-card-title>
                <mat-card-subtitle>{{
                    this.currentUser?.username
                }}</mat-card-subtitle>
                <form
                    [formGroup]="newPostForm"
                    (ngSubmit)="onSubmit()"
                    style="width: 100%;"
                >
                    <div name="newPostDiv">
                        <mat-form-field
                            appearance="outline"
                            color="primary"
                            class="example-card"
                            style="width: 100%;"
                        >
                            <mat-label>Write something...</mat-label>
                            <textarea
                                matInput
                                formControlName="newpost"
                                maxlength="255"
                                (focus)="this.showPostButtons = true"
                                cdkTextareaAutosize
                            >
                            </textarea>
                        </mat-form-field>
                    </div>
                    <div>
                        <span name="newPostButtonsDiv" *ngIf="showPostButtons">
                            <button
                                type="submit"
                                mat-raised-button
                                color="primary"
                                class="post-button"
                                [disabled]="showPostButton() || processingForm"
                                [class.spinner]="processingForm"
                            >
                                Post
                            </button>
                            <button
                                type="button"
                                mat-raised-button
                                color="accent"
                                class="post-button"
                                (click)="cancelPost()"
                            >
                                Cancel
                            </button>
                        </span>
                    </div>
                </form>
            </mat-card-header>
            <mat-card-content></mat-card-content>
            <mat-card-actions> </mat-card-actions>
        </mat-card>
    </div>

    <div class="main-content">
        <span class="mat-h1">Posts</span>
    </div>

    <div class="main-content">
        <app-post-list [currentUserId]="this.currentUser.id"></app-post-list>
    </div>
</div>
