<div>
    <div
        class="uploadfilecontainer"
        appDragDrop
        (click)="fileInput.click()"
        (fileDropped)="onFileChange($event)"
    >
        <input
            hidden
            type="file"
            #fileInput
            (change)="onFileChange($event.target.files)"
        />
    </div>
    <div class="files-list" *ngFor="let file of files; let i = index">
        <p>{{ file }}</p>
        <button class="delete-file" (click)="deleteAttachment(i)">
            <img src="../../assets/Recycle_Bin_Full.png" />
        </button>
    </div>
</div>
