<form [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
    <div class="profile-title">Profile</div>
    <div>
        {{ this.currentUser?.firstName }} {{ this.currentUser?.lastName }}
    </div>
    <div name="newPostDiv">
        <mat-form-field
            appearance="outline"
            color="primary"
            class="standard-input"
        >
            <mat-label>Write something...</mat-label>
            <textarea
                matInput
                formControlName="newpost"
                maxlength="255"
                (focus)="this.showPostButtons = true"
                resizeToFitContent
            >
            </textarea>
        </mat-form-field>
    </div>
    <div name="newPostButtonsDiv" *ngIf="showPostButtons">
        <div>
            <div
                class="uploadfilecontainer"
                appDragDrop
                (click)="fileInput.click()"
                (fileDropped)="onFileChange($event)"
            >
                <input
                    hidden
                    type="file"
                    #fileInput
                    (change)="onFileChange($event.target.files)"
                />
            </div>
            <div style="display: flex; flex-flow: row">
                <div
                    *ngFor="let item of this.photosForUpload.photos; index as i"
                    (click)="removeImage(i)"
                >
                    <img
                        [src]="item.photoBase64String"
                        height="100px"
                        width="100px"
                        style="margin: 3px"
                    />
                    <br />
                </div>
            </div>
        </div>
        <div>
            <button
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="showPostButton() || processingForm"
                [class.spinner]="processingForm"
            >
                Post
            </button>
            <button
                type="button"
                mat-raised-button
                color="accent"
                (click)="cancelPost()"
            >
                Cancel
            </button>
        </div>
    </div>
</form>
