<div fxLayout="column" fxLayoutAlign=" center">
    <div class="main-content">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Search users</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field
                        appearance="outline"
                        color="primary"
                        style="width: 100%;"
                    >
                        <input
                            matInput
                            formControlName="searchField"
                            maxlength="255"
                        />
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <div fxFlex></div>
                    <button
                        type="submit"
                        [disabled]="processingForm"
                        mat-raised-button
                        color="accent"
                        [class.spinner]="processingForm"
                    >
                        Search
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
    <br />
    <app-search-list [users]="users"></app-search-list>
</div>
