<div class="top-container">
    <form
        [formGroup]="searchForm"
        (ngSubmit)="onSubmit()"
        class="item-600 item-style"
    >
        <div>Search users</div>
        <div>
            <mat-form-field
                appearance="outline"
                color="primary"
                class="standard-input"
            >
                <input matInput formControlName="searchField" maxlength="255" />
            </mat-form-field>
        </div>
        <div>
            <button
                type="submit"
                [disabled]="processingForm"
                mat-raised-button
                color="accent"
                [class.spinner]="processingForm"
            >
                Search
            </button>
        </div>
    </form>
    <br />
    <app-search-list
        [users]="users"
        class="item-600 item-wrapper"
    ></app-search-list>
</div>
