<div class="item-600 container" *ngIf="photos.length > 0">
    <div *ngIf="photos.length === 1">
        <img
            [src]="photo.url"
            width="100%"
            class="image"
            *ngFor="let photo of photos; let i = index"
            (click)="open(i)"
        />
    </div>
    <div *ngIf="photos.length === 2">
        <img
            [src]="photo.url"
            width="50%"
            height="195"
            class="image"
            *ngFor="let photo of photos; let i = index"
            (click)="open(i)"
        />
    </div>
    <div *ngIf="photos.length === 3">
        <img
            [src]="photo.url"
            width="33%"
            height="138"
            class="image"
            *ngFor="let photo of photos; let i = index"
            (click)="open(i)"
        />
    </div>
    <div *ngIf="photos.length > 3">
        <img
            [src]="photo.url"
            width="33%"
            height="138"
            class="image"
            *ngFor="let photo of photos | slice: 0:3; let i = index"
            (click)="open(i)"
        />
        <div class="imgoverlay" (click)="open(2)">+{{ photos.length - 3 }}</div>
    </div>
</div>
