.container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: inline-flexbox;
    transition: 0.5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.imgoverlay {
    background-color: darkgrey;
    color: black;
    opacity: 0.7;
    position: absolute;
    left: 66%;
    top: 0px;
    width: 33%;
    height: 138px;
    text-align: center;
    font-size: 64px;
    padding: 64px 32px;
    cursor: pointer;
}

.center-cropped {
    object-fit: cover; /* Scale the image so it covers whole area, thus will likely crop */
    object-position: center; /* Center the image within the element */
}

.center-cropped-1 {
    width: 100%;
}

.center-cropped-2 {
    height: 195px;
    width: 50%;
}

.center-cropped-3 {
    height: 138px;
    width: 33%;
}

.image:hover {
    opacity: 0.7;
}

.middle:hover {
    opacity: 1;
}
