/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-card {
    width: 300px;
}

.user-profile-card {
    width: 600px;
}

.post-list-post {
    border: 1px solid lightgray;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}
