.standard-input {
    width: 100%;
}

.standard-input .mat-form-field-infix {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.standard-input .mat-form-field-wrapper {
    padding-bottom: 1em;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-600 {
    width: 100%;
    max-width: 600px;
    height: auto;

    /* border: 1px solid red; */
}

.item-style {
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.comment-style {
    background-color: #eeeeee;
    border: 1px solid lightgrey;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-title {
    font-weight: bold;
}

.post-content {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 10px;
}

/* drag n drop */
.uploadfilecontainer {
    background-image: url("./assets/cloud-2044823_1280.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 50px;
    width: 100%;
    margin: 20px auto;
    border: 2px dashed #1c8adb;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}
.files-list .delete-file img {
    width: 30px;
}
