<mat-toolbar color="warn" class="mat-toolbar-custom" *ngIf="loggedIn()">
    <div>
        <button mat-icon-button aria-label="KlofBook Home" (click)="home()">
            <mat-icon>home</mat-icon>
        </button>
        {{ currentUser?.firstName }} {{ currentUser?.lastName }}
    </div>
    <div style="flex: 1 1 auto"></div>
    <div>
        <button mat-icon-button [matMenuTriggerFor]="navmenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #navmenu="matMenu">
            <button mat-menu-item (click)="profile()">Profile</button>
            <button mat-menu-item (click)="search()">Search</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>
